#page-content
  %h1.page-title
    = page_title! 'Editando diapositiva'
   
  .admin.head
    = link_to 'New Diapositiva', new_diapositiva_path, class: 'button-create'
  .content
    = render 'form'

    = link_to 'Regresar', diapositivas_path, class: 'button-back-cms'
