#page-content
  %h1.page-title
    = page_title! 'Editar Noticia'

  .content
    = image_tag(@noticia.imagen_url(:medium))

    = render 'form'

    = link_to 'Regresar', :back, class: 'button-back-cms'
