#page-content
  %h1.page-title
    = page_title! 'Nuevo tipo'
    
  .content
    = render 'form'

    = link_to 'Regresar', reino_categoria_subcategoria_tipos_path(@subcategoria.categoria.reino, @subcategoria.categoria, @subcategoria), class: 'button-back-cms'

