- page_title! 'Globalvet | Contamos con la experiencia y tecnología para lograr los mejores resultados'




#page-content
  = render 'slider'

  = link_to image_tag('btn-read-more.png', alt: 'Leer más'), '/', class: 'button read-more'
  %h3.heading
    Globalvet S.A.C., es una empresa peruana dedicada
    %br
    a la comercialización de productos relacionados
    %br
    con la salud y nutrición animal...

  .content
    .info.info-global-news
      %h3.title Global News
      %p
        Comercializar productos en óptimas condiciones de seguridad, 
        inocuidad y efectividad que cumplan con el marco legal de las normas nacionales e internacionales... 
    .info.info-productos
      %h3.title Productos
      %p
        Comercializar productos en óptimas condiciones de seguridad, 
        inocuidad y efectividad que cumplan con el marco legal de las normas nacionales e internacionales... 
    .info.info-marcas
      %h3.title Marcas
      %p
        Comercializar productos en óptimas condiciones de seguridad, 
        inocuidad y efectividad que cumplan con el marco legal de las normas nacionales e internacionales... 
   


