#page-content
  %h1.page-title
    = page_title! 'Editando marca'

  .content
    = image_tag @marca.logo_url(:medium) if @marca.logo?
    = render 'form'

    = link_to 'Regresar', :back, class: 'button-back-cms'
