%h1 Nuevo producto

= render 'form'

= link_to 'Regresar', reino_categoria_subcategoria_tipo_productos_path(@tipo.subcategoria.categoria.reino, @tipo.subcategoria.categoria, @tipo.subcategoria, @tipo)
