#page-content

  %h1.page-title
    = page_title! 'Nuevo producto'

  .content
    = render 'form'

    = link_to 'Regresar', reino_categoria_subcategoria_tipo_productos_path(@reino, @categoria, @subcategoria, @tipo), class: 'button-back-cms'
