body {font-family: $comfortaa; background: $red; overflow-y: scroll}
#site-wrapper {background: $bg-fondo; -pie-background: $bg-fondo-pie; @include css3pie; position: relative; z-index: 60}
h1, h2, h3, h4, h5, h6 {line-height: 100%; @extend .font-comfortaa-3; margin: 0}
a:hover { text-decoration: none; }
.heading {@extend .font-large; color: $red; padding-bottom: $separation; font-weight: 300;
  a {color: $red}}



.product-page.logged-in .heading { @extend .font-comfortaa-7; padding-bottom: 0}
.product-page.logged-in .admin-iterate {padding-bottom: 20px}

.cat-wrapper {width: 100%; float: left; clear: left;
  form {width: 100%; float: left; clear: left;}
  .cat-field {padding: 5px 0; border-bottom: 1px solid #ddd; input {margin-right: 5px}}
  input, select {float: left; clear: left; margin-top: 5px}
  h3.heading {margin-top: 15px; float: left; clear: left}
}

.title,
.title a {@extend .title-1}
.page-title {@include absolute(left, top, 0px, 0);
background: $page-title; @include size(870px, 90px); padding: 20px 0 0 40px; @include box-sizing(border-box);
@extend .font-title; @extend .font-comfortaa-7; color: $red;
}
img {vertical-align: top}
p, .content li {@extend .paragraph-1}


form {margin: 0}


.borde-falso {background: $gold; @include absolute(top, left, 40px, 0); height: 10px; width: 100%; z-index: 20}
.main-menu {
  float: left; position: relative; z-index: 30;/*border-bottom: 10px solid $gold;*/
  ul {margin: 0; float: left; position: relative;
    li {
      float: left; list-style: none; background: $bg-menu-bevel; padding-right: 2px;
      a, span {
        background: $bg-menu; text-align: center; color: $blue;
        width: 160px; height: 41px; padding: 10px 0 0; float: left;
        float: left; @include box-sizing(border-box); overflow: hidden;
        @extend .font-pt-7;
        &:hover {
          background: $bg-menu-on; color: #c42c01;
        }
      }
      span {
          background: $bg-menu-on; color: #c42c01;       }
      &.first a,
      &.first span {width: 105px; @extend .radius-top-left;
        &:before {@include icons;}
      }
      &.last {
        background: none; padding-right: 0;
        a, span {width: 115px; @extend .radius-top-right}
      }
      @include submenu;
      &:hover {
        .submenu {@include transition-1; /*@include display-true; */top: 100%}
      }
    }
  }
}

#main-menu > li > span,
#main-menu > li > a:hover {text-shadow: 1px 1px 0px white;
}
.main-menu {
  ul ul {@include display-false; }
    li:hover > a + ul,
    li:hover > span + ul {@include display-true}

    li:hover > a + ul a,
    li:hover > span + ul a {background: $gold}
}


.header-search {
  @include absolute(right, top, 0, 70px); background: $search-header; @include size(245px, 45px);
  form {
    input[type="text"], input[type="password"], input[type="email"] {@include absolute(right, top, 10px, 12px);
    @include size(125px, auto); padding: 0 8px 0 4px; background: none;  border: 0;
    @include box-shadow(0, 0, 0, transparent)}
    input[type="submit"] {@include absolute(top, left, 1px, 2px); @include size(83px, 40px);
    border: 0; padding: 0; background: none}
  }
}

#main-footer {background: $red}
.slogan {text-align: center; font-size: 23px; color: white; margin-top: 28px}
#main-header {
  height: 240px; position: relative; z-index: 60;
  .header-inner {
    height: 190px; padding-top: 45px; @include box-sizing(border-box)
  }
}

.region-inner {
  width: 870px; position: relative; margin: 0 auto;
}

.info-company,
.info-web {@include makeColumn(5); margin: 0;
  p {
    span {display: block}
  }
}
.info-company {
  .address:before, .address .before,
  .phone:before, .phone .before,
  .email:before, .email .before {@include icons}

  .address:before, .address .before {background-position: 0 -19px}
  .phone:before, .phone .before {background-position: 0 -38px}
  .email:before, .email .before {background-position: 0 -56px}
}

.info-web {float: right; text-align: right}
#main-footer {
  height: 160px; position: relative; top: 0px; z-index: 20; padding: 25px 0 25px; @include box-sizing(border-box);
  p, a, span {color: white; @extend .font-pt-4; font-size: $small}
  .container {position: relative;
  }
}

.front #content{margin-top: 10px;}
#content {z-index: 40;
  background: $bg-red;
  padding-bottom: 5px;
  .region-inner {
    background: white;
    min-height: 400px;
  }
  #page-content {
   @extend .extension-del-content;
   @extend .shadow-element;
   @extend .radius-bottom;
   .product-page.index &,
   .product-page.show &,
   .product-page.categorias & {
      padding-top: 30px;
    }
   header {
    b {color: $red}
   }
    min-height: 420px;
  }
}

.cms-admin {
  color: white;
  @include absolute(top, right, 0, 0);

  a {float: right; margin-top: 5px}
}


.carousel {
  float: left; margin: 0; border-bottom: 10px solid $gold; @extend .forzar-pegado;
  .carousel-caption {
    @extend .title; color: white; font-weight: 300; background: $filter-black;
    a { color:white; font-weight: 300; }
  }
  .carousel-control {
    top: 48%; background: $red; font-size: 55px; font-family: verdana; border: 0;
  }
}
.content {width: 100%; float: left; clear: left; padding-top: $separation; background: $bg-border-top;}

#myCarousel,
.carousel-inner > .item > img, .carousel-inner > .item > a > img {width: 870px}

#home {
  .button.read-more {float: right; margin-top: 50px}
  .content {
    background: $bg-border-top;
    .info {width: 220px; float: left; margin-right: 55px;
      &.info-marcas {
        margin-right: 0
      }
    }
  }
}

#quienes_somos {
  .info {
    &.mision-vision {
      float: left; width: 50%;
      h3 {
        @extend .arrow-title;
      }
      p {
        padding-right: 50px
      }
    }
  }
}

#noticias {
  &.index {
    .content {background: none; padding-top: 0}
  }
  &.show {
    .button-back {float: right}
  }
}

.resumen {
  background: $bg-border-top; background-position: 50% 100%; width: 600px; position: relative;
  float: left; clear: left; width: 100%; padding: 30px 0 20px;
  img {float: left; margin-right: 10px}
  h3.title {
    @extend .font-large; line-height: 100%;
  }
  .textual-content {overflow: hidden; margin-right: 120px}
  &:nth-of-type(1) {padding-top: 0}
  &:last-child {padding-bottom: 0; background: none}
  .button-readmore-1 {@include absolute(bottom, right, 20px, 20px);}
}

.presentacion {
  img { float: left; margin-right: 10px; }
  .textual-content {overflow: hidden}

  .product-page & {
    img {margin-right: 50px}
  }
}

#noticias.index .content .textual-content p {color: #646363}
.date-item {font-size: 11px; position: relative; top: -1px; color: #646363}
#noticias.index .textual-content h3.title {font-weight: bolder}

#noticias.index .info.resumen .title {padding-bottom: 0; font-size: 14px; line-height: 120%}

.sin_resultados {
  #page-content {
    .content {height: 400px;
      p {font-size: $big; text-align: center; padding-top: 180px}
    }
  }
}

.titulo-parrafo {
  h3, p {display: inline }
  h3 a {@extend .paragraph-1; color: $red}
}


form {
  legend {color: $gray; text-transform: uppercase; border-bottom: 0; font-size: 14px; margin: 0; padding-bottom: 20px}
  input[type="text"], input[type="password"], input[type="email"], textarea, submit, button {@extend .form-element; margin-bottom: 16px }
  input[type="text"] {@extend .input-style;}
  textarea {@extend .textarea-style; width: 500px; min-width: 500px; max-width: 795px; height: 160px; min-height: 160px}
  button, submit {@extend .button-style}
  input[type="submit"] {@extend .rounded-element; @extend .button-style}

  .field {
    label {color: $gray; margin: 5px 0 0 0}
  }
  .actions {padding-top: 0px}

  #contactos & {
    input[type="text"] {margin-right: 10px}
    label {@include inline-block;}
  }
}



.img-gallery {
  .img-wrapper {
    @include inline-block; margin-right: 25px; position: relative;
    @include size(165px, 185px);
    .admin.iterate {@include absolute(right, bottom, 0, 0)}
    .click{text-align: center; margin-top: 5px; margin-bottom: 20px;}
  }
}

.bg-full-image {width: 897px; max-width: 897px; position: relative; top: -20px; left: -59px}

.content-header {font-size: $medium;
  height: 60px; padding-left: 55px;
  &.content-header-search {
    background: $icon-search
  }
}


body[id^="devise"] {
  .field br {display: none}
  .actions {padding: 15px 0}
}

.admin {
  &.head {
    padding-bottom: 40px;
  }
  &.iterate {
    padding-bottom: 20px
  }
}


// buttons
.button-create {@extend .btn; @extend .btn-default; @extend .btn-primary}
.button-update {@extend .btn; @extend .btn-default; @extend .btn-info}
.button-delete {@extend .btn; @extend .btn-default; @extend .btn-warning}
.button-readmore {@extend .btn; @extend .btn-default; @extend .boton-rojo}
.button-back {@extend .btn; @extend .btn-default; @extend .boton-rojo}
.button-back-cms {@extend .btn; @extend .btn-default; @extend .btn-inverse; margin-top: 20px;
  background: url('/assets/btn-orange.jpg') repeat-x 0 0 #d02b26;

  &:hover {background: #d02b26}
}
.button-pdf {background: $pdf-icon; @include size(38px, 37px); @include inline-block; text-indent: -9999px}
.link-more {@include absolute(bottom, left, 17px, 210px)}

/*
btn btn-primary
btn btn-info
btn btn-success
btn btn-warning
btn btn-danger
btn btn-inverse
btn btn-link
*/


.header-search .ui-autocomplete {position: absolute !important; top: 100% !important; background: #ddd;
font-size: 12px}
.ui-menu .ui-menu-item {border-bottom: 1px solid #bbb; border-top: 1px solid #eee}

.edit-image {float: left; margin-right: 20px}
.edit form {overflow: hidden}


.btn-download-pdf {position: relative; height: 200px;
  .btn-download-pdf-inner {@include absolute(right, top, 0, 100px)}
  .pdf-label {
    margin-top: 5px; @include inline-block;
  }
}


.product-page {
  .presentacion {position: relative;
    &:after {
    content: url('/assets/cuadro-animal.png'); @include absolute(left, top, -8px, 26px)}
    // @include absolute(left, top, -8px, 26px)}

    img, .textual-content {margin-top: 26px; margin-left: -8px}

    }
  .content {padding-top: 0}

}

.resumenes {position: relative;
    &:after {
    @include absolute(left, top, -8px, 26px)}

    img, .textual-content {margin-top: 26px; margin-left: -8px}

    }

#productos.show .presentacion:after {display: none}
#reinos.index .presentacion:after {display: none}
.animales-index {position: relative; width: 900px; max-width: 900px; left: -52px}

#page-content > .heading {font-size: 21px !important}
.button-back-cms {float: right}
.animal-list {
  margin: 0; position: relative; left: 0px; width: 900px;
  li {
    float: left;  list-style: none; margin-right: 75px;
    a {font-family: "Comfortaa", cursive; color: $red; font-size: 16px; text-transform: uppercase; font-weight: bold}
  }
}

#reinos.index .content {background: none; padding-top: 120px}
.head-icon {position: relative; top: -8px; margin-right: 5px}

.heading.heading-soft {font-weight: 300}
.heading.justified {text-align: justify}
#page-content > .heading.smaller {font-size: 19px !important; margin-top: 20px}

#quienes_somos .info.mision-vision p {font-weight: 300; line-height: 145%; padding-right: 20px }
.arrow-title, #quienes_somos .info.mision-vision h3 {padding-left: 30px; font-weight: 300}

.font-large, .heading, .resumen h3.title,
.resumen .carousel h3.carousel-caption,
.carousel .resumen h3.carousel-caption {line-height: 160%}

#reinos .heading {padding-bottom: 20px}
.heading.next-title {padding-bottom: 5px}

h1, h2, h3, h4, h5, h6 {font-weight: 300}

.ul-paragraph {margin-left: 0; li {display: inline; padding: 0; list-style: none; }}

#quienes_somos #page-content .content {padding-top: 40px}
.font-comfortaa-7, .title-1, .title, .carousel .carousel-caption, .title a, .carousel .carousel-caption a, .product-page.logged-in .heading, .page-title {
    font-weight: 100 !important;
}
.textual-content{width: 40%;}
#noticias.index #page-content {padding-top: 125px}

.heading{img{vertical-align: middle !important;}}
.pdf-label{font-family:$pt;}
