body {font-family: $comfortaa; background: $red; overflow-y: scroll}
#site-wrapper {background: $bg-fondo; -pie-background: $bg-fondo-pie; @include css3pie; position: relative; z-index: 60}
h1, h2, h3, h4, h5, h6 {line-height: 100%; @extend .font-comfortaa-3; margin: 0}
.heading {@extend .font-large-x; color: $red; padding-bottom: $separation}
.title {@extend .title-1}
.page-title {@include absolute(left, top, 0px, 0);
background: $page-title; @include size(870px, 90px); padding: 20px 0 0 40px; @include box-sizing(border-box);
@extend .font-title; @extend .font-comfortaa-7; color: $red;
}
img {vertical-align: top}
p {@extend .paragraph-1}


form {margin: 0}

.main-menu {
  float: left; border-bottom: 10px solid $gold; 
  ul {margin: 0; float: left; position: relative;
    li {
      float: left; list-style: none; background: $bg-menu-bevel; padding-right: 2px; 
      a, span {
        background: $bg-menu; text-align: center; color: $blue;
        width: 160px; height: 41px; padding: 10px 0 0; float: left;
        float: left; @include box-sizing(border-box); overflow: hidden;
        @extend .font-pt-7;
        &:hover {
          background: $bg-menu-on;
        }
      }
      span {
          background: $bg-menu-on;
      }
      &.first a,
      &.first span {width: 105px; @extend .radius-top-left;
        &:before {@include icons;}
      }
      &.last {
        background: none; padding-right: 0;
        a, span {width: 115px; @extend .radius-top-right}
      }
      @include submenu;
      &:hover {
        .submenu {@include transition-1; /*@include display-true; */top: 100%}
      }
    }
  }
}

.main-menu {
  ul ul {@include display-false; }
    li:hover > a + ul,
    li:hover > span + ul {@include display-true}

    li:hover > a + ul a,
    li:hover > span + ul a {background: $gold}
}


.header-search {
  @include absolute(right, top, 0, 70px); background: $search-header; @include size(245px, 45px);
  form {
    input[type="text"] {@include absolute(right, top, 10px, 12px);
    @include size(125px, auto); padding: 0 8px 0 4px; background: none;  border: 0;
    @include box-shadow(0, 0, 0, transparent)}
    input[type="submit"] {@include absolute(top, left, 1px, 2px); @include size(83px, 40px); 
    border: 0; padding: 0; background: none}
  }
}

#main-footer {background: $red}
.slogan {font-size: 23px; color: white; margin-top: 28px}
#main-header {
  height: 240px; position: relative; z-index: 60;
  .header-inner {
    height: 190px; padding-top: 45px; @include box-sizing(border-box)
  }
}

.region-inner {
  width: 870px; position: relative; margin: 0 auto;
}

.info-company,
.info-web {@include makeColumn(5); margin: 0;
  p {
    span {display: block}
  }
}
.info-company {
  .address:before, .address .before, 
  .phone:before, .phone .before,
  .email:before, .email .before {@include icons}

  .address:before, .address .before {background-position: 0 -19px}
  .phone:before, .phone .before {background-position: 0 -38px}
  .email:before, .email .before {background-position: 0 -56px}
}

.info-web {float: right; text-align: right}
#main-footer {
  height: 160px; position: relative; top: 0px; z-index: 20; padding: 25px 0 25px; @include box-sizing(border-box);
  p, a, span {color: white; @extend .font-pt-4; font-size: $small}
  .container {position: relative;
  }
}

#content {z-index: 40; 
  background: $bg-red;
  padding-bottom: 5px;
  .region-inner {
    background: white; 
    min-height: 400px; 
  }
  #page-content {
   @extend .extension-del-content; 
   @extend .shadow-element;
   @extend .radius-bottom;
  }
}

.carousel {
  float: left; margin: 0; border-bottom: 10px solid $gold; @extend .forzar-pegado;
  .carousel-caption {
    @extend .title; color: white; font-weight: 300; background: $filter-black;
  }
  .carousel-control {
    top: 48%; background: $red; font-size: 55px; font-family: verdana; border: 0;
  }
}
.content {width: 100%; float: left; clear: left; padding-top: $separation}

#home {
  .button.read-more {float: right; margin-top: 50px}
  .content {
    background: $bg-border-top;
    .info {width: 220px; float: left; margin-right: 55px;
      &.info-marcas {
        margin-right: 0
      }
    }
  }
}

#quienes_somos {
  .info {
    &.mision-vision {
      @extend .arrow-title; 
    }
  }
}


form {
  legend {color: $gray; text-transform: uppercase; border-bottom: 0; font-size: $medium; margin: 0; padding-bottom: $separation}
  input[type="text"], textarea, submit, button {@extend .form-element }
  input[type="text"] {@extend .input-style;}
  textarea {@extend .textarea-style; width: 500px; min-width: 500px; max-width: 795px; height: 160px; min-height: 160px}
  button, submit {@extend .button-style}
  input[type="submit"] {@extend .rounded-element; @extend .button-style}

  .field {
    label {color: $gray; margin: 5px 0 0 0}
  }

  #contactos & {
    input[type="text"] {margin-right: 10px}
    label {@include inline-block;}
  }
}

.img-gallery {
  a {
    @include inline-block; margin-right: 25px;
    @include size(165px, 158px);
    img {}
  }
}

.bg-full-image {width: 897px; max-width: 897px; position: relative; top: -20px; left: -59px}


// buttons
.button-create {@extend .btn; @extend .btn-default}
