
.shadow-element {@include box-shadow($shadow)}
.radius-bottom {@include border-bottom-left-radius($radius * 2); @include border-bottom-right-radius($radius * 2)}
.rounded-element { @include border-radius($radius); overflow: hidden}
.input-style {background: $bg-input; border: 0}
.textarea-style {background: $bg-textarea; }
.button-style,
.button-style:hover {background: $button; border: 0; line-height: 100%; width: 120px; 
 height: 31px; color: white; text-shadow: $text-shadow}
.form-element {width: 230px; height: 31px; @extend .rounded-element; border: $stroke}

.forzar-pegado {position: relative; left: -45px; top: -45px}

.border-black {border: 1px solid black}


@mixin submenu {
  .submenu {
    width: 100%; 
    width: -moz-calc(100% - 2px); width: -webkit-calc(100% - 2px); width: -o-calc(100% - 2px); width: calc(100% - 2px); 
    @include display-false; 
    @include absolute(left, top, 0, -100px);
    //top: 100%;
    li {
      clear: left; width: 100%; padding: 0; background: none;
      a, span {width: 100%; color: white; text-transform: uppercase; @extend .font-pt-4}
      a {
        background: $filter-gold;
        &:hover {
          background: $filter-red;
        }
      }
      span {
        background: $filter-red;
      } 
    }

    &.submenu.nivel-1 {
      width: 100%; text-align: center; background: $gold;
      li {
        @include inline-block; width: auto; position: relative;
        span {color: $red}
        a, span {padding-left: 45px; padding-right: 45px; background: none}
        @include submenu-nivel-2; 
        // @include submenu_hover; 
      }
    }
  }
}



@mixin submenu-nivel-2 {
  ul {width: 180px; background: none;
    li {position: relative; width: 100%;
      a, span {text-align: left; padding-left: 12px; padding-right: 12px; background: $gold}
      a {background: $gold;
        &:hover {background: $red}
      }
        @include submenu-nivel-3; 

    }
  }
}

@mixin submenu-nivel-3 {
  ul {width: 180px; top: auto; left: 100%; 
  }
}

@mixin icons {
  content: ""; width: 15px; height: 15px; background: $icons; display: block; @include inline-block;
  margin-right: 5px; @include relative(left, top, 0, 3px);
  @extend .ico-menu-home;
}

.ico-menu-home {
  background-position: 0 0;
}

@mixin transition-1 {
  -moz-transition: 0.8s $easeInOutBack all; -webkit-transition: 0.8s $easeInOutBack all; 
  -o-transition: 0.8s $easeInOutBack all; transition: 0.8s $easeInOutBack all
}


.extension-del-content {
  width: 870px; position: relative; left: 0px; float: left; 
  padding: 35px 45px 55px; @include box-sizing(border-box); background: $bg-content;
  .not-front & {
    padding-top: 110px
  }
}


// fonts
.font-comfortaa-3,
.font-confortaa-4,
.font-comfortaa-7 {font-family: $comfortaa}

.font-comfortaa-3 {font-weight: 300}
.font-confortaa-4 {font-weight: 400}
.font-comfortaa-7 {font-weight: 700}

.font-pt-4,
.font-pt-7 {font-family: $pt}

.font-pt-4 {font-weight: 400}
.font-pt-7 {font-weight: 700}


// font sizes
.font-large {
  font-size: $large; line-height: 140%;
}
.font-large-x {
  font-size: $large-x; line-height: 140%;
}
.font-big {
  font-size: $big; line-height: 140%;
}
.font-huge {
  font-size: $huge; line-height: 140%;
}
.font-title {
  font-size: $huge+10; line-height: 140%;
}



// headings
.title-1 {
  @extend .font-big; @extend .font-comfortaa-7; color: $red; padding-bottom: $separation-word;
}

// paragraphs
.paragraph-1 {
  color: $gray; font-family: $trebuchet; margin: 0;
}

.arrow-title {
  color: white; 
  padding: 5px 0 35px 10px;
  @include box-sizing(border-box);
  background: $bg-arrow;
}


.radius-top-left {
  @include border-top-left-radius($radius);
  overflow: hidden;
}
.radius-top-right {
  @include border-top-right-radius($radius);
  overflow: hidden;
}

.boton-rojo,
.boton-rojo:hover {
@extend .rounded-element; @extend .button-style;
padding: 8px 0 0 0; height: 25px;
}




// en evaluación
@mixin display-false {
  visibility: hidden; opacity: 0;
}
@mixin display-true {
  visibility: visible; opacity: 1;
}

@mixin inline-block-left($separation) {
  text-align: right;
  li {margin-right: $separation}
  li, a {@include inline-block}
}

@mixin inline-block-right($separation) {
  text-align: right;
  li {margin-left: $separation}
  li, a {@include inline-block}
}

// core
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin full-width {
  width: 100%; float: left; clear: left;
}

@mixin size($width, $height) {
  width: $width; height: $height;
}

@mixin absolute($side-horizontal, $side-vertical, $coord-x, $coord-y) {
  position: absolute;
  #{$side-vertical}: $coord-y;
  #{$side-horizontal}: $coord-x;
}
@mixin relative($side-vertical, $side-horizontal, $coord-y, $coord-x) {
  position: relative;
  #{$side-vertical}: $coord-y;
  #{$side-horizontal}: $coord-x;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; vertical-align: top;
  float: none;
}

@mixin min-height($value) {
  min-height: $value;
  *height: auto !important;
  height: $value;
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value; -webkit-box-sizing: $value; -o-box-sizing: $value; box-sizing: $value;
  behavior: url(/assets/ie-support/Schepp-box-sizing-polyfill/boxsizing.htc);

  /* content-box 
    border-box */
}

@mixin clearfix2 {
  content: "."; display: block; line-height: 0; clear: both; visibility: hidden; height: 0;
  &:after {
    *zoom: 1;
  }
}

@mixin css3pie {
  behavior: url(/assets/ie-support/PIE-1.0.0/PIE.htc);
}

// core css3 animations
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);


