#page-content
  %h1.page-title
    = page_title! 'Nueva subcategoria'
    
  .content
    = render 'form'

    = link_to 'Regresar', reino_categoria_subcategorias_path(@categoria.reino, @categoria), class: 'button-back-cms'


