- page_title! '¿Quiénes Somos?'
#page-content
  %h1.page-title Globalvet
  = image_tag('animales.png', alt: 'Animales', class: 'bg-full-image')
  %h3.heading
    Globalvet S.A.C., es una empresa peruana dedicada a la comercialización de
    %br
    productos relacionados con la salud y nutrición animal. Fundada en Julio del
    %br
    año 2007 con el objetivo de cubrir principalmente las necesidades del mercado
    %br
    avícola, ganadero y de mascotas.

  .content
    .info.mision-vision
      %h3.title Misión
      %p
        Contribuir con el desarrollo y crecimiento del Sector
        Pecuario Nacional, ofreciendo productos y servicios de
        calidad dirigidos a mejorar el status Nutricional y
        Sanitario de las unidades de producción.
    .info.mision-vision
      %h3.title Visión
      %p
        Ser una empresa líder en la comercialización de productos
        para la salud y nutrición animal donde prima la calidad
        en el servicio y en el trato a sus clientes y colaboradores.
