- page_title! '¿Quiénes Somos?'
#page-content
  %h1.page-title Globalvet
  = image_tag('animales.png', alt: 'Animales', class: 'bg-full-image')
  %h3.heading
    Globalvet S.A.C., es una empresa peruana dedicada a la comercialización de 
    %br
    productos relacionados con la salud y nutrición animal. Fundada en Julio del año 
    %br
    2007 con el objetivo de cubrir principalmente las necesidades del mercado 
    %br
    avícola, ganadero y de mascotas.
    
  .content
    .info.mision-vision
      %h3.title Global News
      %p
        Comercializar productos en óptimas condiciones de seguridad, 
        inocuidad y efectividad que cumplan con el marco legal de las normas nacionales e internacionales... 
    .info.mision-vision
      %h3.title Productos
      %p
        Comercializar productos en óptimas condiciones de seguridad, 
