%footer#main-footer
  %h6.element-invisible
    Site Footer
  .container
    .region-inner
      .info-company
        %p
          %span.address
            Calle Mario Valdivia 180, Urb. Maranga - San Miguel
          %span.phone
            511 719 0377
          %span.email
            = link_to 'ventas@globalvetgroup.com', '/'
      .info-web
        %p
          %span
            = 'Copyright © ' + Time.now.year.to_s
          %span
            Globalvet S.A. Todos los derechos reservados
          %span
            = link_to 'www.globalvetgroup.com', root_path
