%footer#main-footer
  %h6.element-invisible
    Site Footer
  .container
    .region-inner
      .info-company
        %p
          %span.address
            Calle Las Tortugas 350 oficina 101 Los Cedros, Chorrillos
          %span.phone
            511 719 0377
          %span.email
            = link_to 'ventas@globalvet.com', '/'
      .info-web
        %p
          %span
            Copyright © 2012
          %span
            Globalvet S.A. Todos los derechos reservados
          %span
            = link_to 'www.globalvet.com', '/'
